# <center> LISTS

a. List contains items separated by commas and enclosed with square brackets[]

b. All itmes belonging to a list can be of different datatypes

c. Lists are similar to arrays in C language

d. Lists are mutable

### Create LIST

In [5]:
list_ = ["abcd", 786, 2.23, "ISB", 70.2]
tiny_list = [123, "ISB"]
print(list_)              # prints the list of elements
print(list_[0])           # prints 1st elements of List
print(list_[1:3])         # prints from 2nd element to 3rd element
print(list_[2:])          # prints from 3rd element
print(tiny_list*2)        # prints twice
print(tiny_list + list_)  # adding LISTS
print(len(list_))         # length of the list_

['abcd', 786, 2.23, 'ISB', 70.2]
abcd
[786, 2.23]
[2.23, 'ISB', 70.2]
[123, 'ISB', 123, 'ISB']
[123, 'ISB', 'abcd', 786, 2.23, 'ISB', 70.2]
5

In [3]:
list_a = ["Ajay", "Vijay", "Ramesh"]
list_a.append("Sujay")
list_a.insert(0,"New Guy")
list_a.extend(["Guy1","Guy2"])  #insert Guy1 Guy2
print(list_a)
print(list_a.index("Guy1"))
list_a.remove("Guy1")
print(list_a.pop())
print(list_a)

['New Guy', 'Ajay', 'Vijay', 'Ramesh', 'Sujay', 'Guy1', 'Guy2']
5
Guy2
['New Guy', 'Ajay', 'Vijay', 'Ramesh', 'Sujay']

### Sorting

In [6]:
numList = [1,5,23,1,54,2,54,23,54,76,76,34,87]
numList.sort()     # Sorting from ascending Order
print(numList)
print(max(numList))# print maximum in the List
print(min(numList))# print minimum in the List

[1, 1, 2, 5, 23, 23, 34, 54, 54, 54, 76, 76, 87]
87
1

In [7]:
my_list = ["A string ", 23, 100.23, "0"]
len(my_list)

4

## LIST COMPREHENIONS

a. Python has an advanced features called "List Comprehensions"

b. They allow for quick construction of Lists

c. It consists of brackets containing an expression followed by a for clause, then zero (or) more for (or) if clause

In [22]:
#Square nos in the list
lst = [1,2,3,4,5,6,7]
B = [i*i for i in lst]
B

[1, 4, 9, 16, 25, 36, 49]

In [23]:
#Square nos in range and turn into list
C = [x**2 for x in range(0,11)]
C

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# Check the even nos in a range
D = [x for x in range(11) if x % 2 == 0]
D

[0, 2, 4, 6, 8, 10]

In [25]:
#celsius to Fahrenhit
Celsius = [0, 10, 20.1, 34.5]
Fahrenhit = [((9/5)*temp + 32) for temp in Celsius ]
Fahrenhit

[32.0, 50.0, 68.18, 94.1]

## NOTE: 
Methods for LIST are:
1. Append
2. Count
3. Extend
4. Insert
5. Pop
6. Remove
7. Reverse
8. Sort